body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}



header {
    margin: 20px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
    align-items: center;
}

h1 {
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 5px;
}

.role h2 {
    font-size: 16px;
    color: #2AAEE7;
    margin: 0px 0px 7px;
}

figure {
    margin: 0px;
}

div.avadiv {
    margin-top: auto;
    margin-right: auto
}
.ava {
    margin-left: 30%;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    border: #2AAEE7  1px solid;
    display: block;
}

.contacts {
    float: left;
    margin: 7px 0px 7px;
}

div.contacts {
    width: 100%;
}

.contacts-icon {
    width: 20px;
    height: 20px;
}

.contact-ul {
    display: grid;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

li.contact-li > p {
    display: inline;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;

}

.vk  {
    display: inline;
    font-size: 15px;
}

div.about-me {
    font-family: Arial;
    font-style: normal;
    line-height: 21px;

}

main {
    margin: 20px;
    margin-top: 23px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 24px;
}


main > div > div > h2 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
    border-bottom: 0.5px solid #73808D;
}

div.skills > div > ul > li {
    text-decoration: underline;
    list-style-type: none;
    margin: 5px;
}

h3 {
    color: #2AAEE7;
    margin: 10px;
}

footer {
    border-top: steelblue 1px solid;
    display: grid;
    align-items: center;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 100px;
}

div.github {
   display: grid;
   grid-template-columns: 24px auto;
}

div.info-skills {
    margin-right: 10px;
}

div.skills > div > ul > li > img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.github-logo {
    margin-top: auto;
    margin-bottom: auto;
    width: 20px;
    height: 20px;
}

.logo-rs {
    width: 100%;
}

@media (max-width:470px) {
    header{
        display: block;
    }
    main{
        display: block;
    }
}