/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html{
    scroll-behavior: smooth
}


body {
    background-color:black;
    height: 9334px;
    width: 1920px;
    margin: 0 auto;
    
}

button:hover{
    background-color: #CAAA7D;
    transition: ease-out 0.3s;
}

header {
    width: 1440px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    width: 49px;
    height: 26px;
    margin-right: 25px;
}

.logo:hover, .logo-text:hover{
    color: #CAAA7D;
    transition: ease-out 0.3s;
}


.logo-text {
    width: 125px;
    height: 31px;
    left: 74px;
    top: 2px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

nav.navigation > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 55px;
    justify-content: space-between;
    align-items: center;
    max-width: 775px
}

nav.navigation > ul > li > a{
    
    Font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    height: 100%;

    letter-spacing: 2px;

    color: #FFFFFF;
}

h1 {
    margin: 0;
}
.title {
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
}

div.welcome {
    position: relative;
    width: 1440px;
    height: 810px;
    background: url(../assets/img/welcome.jpg) no-repeat;
    background-position: top  right;
    margin: 0 auto;
    div {
        padding-top: 150px;
        width: 598px;
        height: 388px;
        p {
            margin: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 2px;
            color: #FFFFFF;
            padding-top: 25px;
            padding-bottom: 75px;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 360px;
            height: 75px;
            background: #710707;
            border-radius: 10px;
            border-color: #710707;
        }
    }
}

.welcome-slider{
    position: absolute;
    right: 0;
    bottom: 0;
}

.welcome-url {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 2px;
}

section.virtual-tour-section{
    background-color: white;
    height: 1266px;
}
  
div.virtual-tour-div {
    width: 1440px;
    height: 1116px;
    margin: 0 auto;
    h2 {
        color: #9D8665;
        padding-top: 75px;
        margin-bottom: 25px;
        margin-top: 0;
    }
}
.virtual-cunt{
        padding-top: 75px;
        border-top: #710707 3px solid;
        display: flex;
        flex-wrap: wrap;
        row-gap: 75px;
        column-gap: 60px;
}

div.virtual-tour-img{
    height: 100%;
    &:hover{
        p.virtual-text {
            width: 100%;
            transition: ease-out 0.3s;
        }
    }
    img {
        top: 0px;
    }
    h3 {
        padding-top: 25px;
        margin: 0;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #000000;
    }
    p.virtual-text {
        width: 300px;
        padding-top: 10px;
        border-top: #710707 3px solid;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p.google-text{
        margin: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
    }
}

.explore {
    max-height: 865px;
}

.explore-cunt {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    column-gap: 60px;
    padding-top: 75px;
    padding-bottom: 75px;
}

div.explore-text {
    max-width: 660px;
    height: 715px;
    span{
        color: #CAAA7D;
    }
    h2 {
        padding-bottom: 25px;
        margin-bottom: 75px;
        border-bottom:  #710707 3px solid;
    }
    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: #FFFFFF;
        padding-bottom: 25px;
    }
}

div.explore-img{
    max-width: 720px;
}

.video-section{
    height: 1396px;
    background-color: white;
}

.video-container{
    margin: 0 auto;
    width: 1440px;
    height: 1246px; 
}

.video-text{
    display: flex;
    padding-bottom: 75px;
    padding-top: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    justify-content: space-between;
    align-items: center;
    h2{
        color: #9D8665;

    }
}

.video-player{
    height: 735px;
    margin-bottom: 40px;
    div.video-input{
        width: 1440px;
        height: 85px;
        background-color: black;
    }
}

.video-input{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.progress {
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 40%,
      #C4C4C4 40%,
      #C4C4C4 100%
    );
    height: 8px;
    width: 929px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }
  
  .progress::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #ffffff;
  }

.volume{
    background: linear-gradient(
        to right,
        #710707 0%,
        #710707 40%,
        #C4C4C4 40%,
        #C4C4C4 100%
      );
      height: 8px;
      width: 155px;
      outline: none;
      transition: background 450ms ease-in;
      -webkit-appearance: none;
}

.volume::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #ffffff;
  }

.video-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 650px;
    background-image: url(../assets/video/poster0.jpg);
    background-size: cover;
}

img.video-play{
    &:hover{
        transform:scale(1.1);
        cursor: pointer;
        transition: ease-out 0.5s;
    }
}

.video-gallery{
    display: flex;
    justify-content: space-between;
    height: 254px;
    video{
        width: 452px;
    }
}

.video-slider{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.gallery {
    position: relative;
    height: 2200px;
    
}

.picture-container{
    margin: 0 auto;
    height: 2200px;
    max-width: 1440px;
    overflow-y: hidden;
    h2 {
        padding-top: 75px;
    }
}

.picture-inner-container img:first-child, .picture-inner-container img:nth-child(11) {
    margin-top: 50px
}

div.picture-container::after{
    margin: 0 auto;
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    height: 360px;
    width: 1440px;
}

.picture-inner-container {
    position: relative;
    max-width: 100%;
    max-height: 2960px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 24px;
    columns: 3;
    column-gap: 36px;
    padding-top: 75px;
    img{
        width: 456px;
    }
}

.parallax {
    width: 100%;
    height: 400px;
    background-image: url(../assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contacts-section {
    background-color: white;
    height: 966px;
}

div.contacts-cunt {
    width: 1440px;
    height: 813px;
    margin: 0 auto;
    padding-top: 75px;
    h2{
        margin-bottom: 25px;
        color: #9D8665;
    }
}

div.contacts-info {
    border-top: #710707 3px solid;
    display: flex;
    height: 695px;
    img{

        width: 960px;
        height: 620px;
        margin-top: auto;
        margin-left: auto;
    }
    
}

.ticket-section{
    height: 893px;
    background-color: white;
}

.ticket-cunt  {
    width: 1440px;
    margin: 0 auto;
    h2{
        color: #9D8665;
        padding-top: 75px;
        padding-bottom: 25px;
        border-bottom: #710707 3px solid;
    }
}

.ticket-info {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    img{
        margin-right: 60px;
    }
}

.tikcet-bold{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.type-ticket{
    margin-right: 215px;
    p.tikcet-bold{
        padding-bottom: 50px;
    }
    ul{
        li{
            display: flex;
            padding-bottom: 25px;
            input{
                margin-right: 23px;
                cursor: pointer;
                
            }
        }
    }
}

.amount {
    width: 175px;
    height: 341px;
    text-align: end;
    p{
        margin-bottom: 25px;
    }

}

.buy-button{
    width: 175px;
    height: 50px;
    margin-top: 52px;
    color: white;
    background-color: black;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    }


.amount-button {
    p{
        margin-top: 10px;
        margin-left: 25px;
        text-align: left;
        margin-bottom: 15px;
    }
    div{
        margin-left: auto;
        input{
            position: absolute;
            left: 69px;
            top: 53px;
            all: unset;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
        }
        button{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            width: 19px;
            height: 38px;
            text-align: center;
            background: none;

        }
        display: flex;
        justify-content: space-between;
        padding: 6px 14px;
        border: 3px solid #000000;
        width: 150px;
        height: 50px;
        text-align: center;
    }

}

.total{
    margin-top: 50px;
    margin-bottom: 8px;
}

.buy-tickets{
    display: flex;
    width: 1440px;
    height: 845px;
    background: #FFFFFF;
    column-gap: 40px;
}


.div-1{
    width: 400px;
    height: 663px;
    input, select{
        width: 400px;
        height: 45px;
        border: black 1px solid;
        margin-bottom: 20px;
    }
}

.form-header{
    margin-bottom: 60px;
    h4{
        color: #9D8665;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 55px;
        text-transform: uppercase;
    }
    p{
        display: block;
        width: 100%;
        border-bottom: #710707 3px solid;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #710707;
        padding-bottom: 10px;
    }
}

.date-time{
    display: flex;
    justify-content: space-between;
    input{
        width: 190px;
        height: 45px;
        border: black 1px solid;
    }
}

div.entry-ticket{
    border: #030303 1px solid;
    padding: 10px 15px 0px 15px;
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #030303;
    }
}

div.entry-ticket > p{
    border-bottom: #710707 3px solid;
    font-family: Forum;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

div.entry-ticket > div > div{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-button-container{
    display: flex;
    height: 25px;
    button{
        width: 35px;
        height: 25px;
        background-color: black;
    }
    input{
        width: 35px;
        height: 25px;
        display: flex;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #030303;
    }
    .minus{
        vertical-align: middle;
    }

    button:hover{
        background-color: #710707;
    }
}

.div-2{
    width: 530px;
    height: 663px;
    padding: 30px 25px;
    border: #030303 1px solid;
}

.overview{
    h4{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        color: #272727;
        padding-bottom: 2px;
    }
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #740C11;
        padding-bottom: 10px;
    }
    span{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #030303;
        margin-bottom: 5px;
    }
}

.cost > div{
    span{
        width: 32px;
        height: 20px;
        color: #A4A4A3;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        background-color: black;
        border-radius: 20%;
    }
    display: grid;
    grid-template-rows:  auto auto;
    grid-template-columns: 25px 126px auto;
    grid-column-gap: 25px;
    grid-row-gap: 5px;
    text-align: center;
    vertical-align: middle;
    p{
        display: flex;
        align-items: center;
    }
    
}

div.cost > div{
    p:nth-of-type(2){
     margin-left: auto;
    }
}

.form-confirm{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 15px auto;
    grid-row-gap: 5px;
    grid-column-gap: 15px;

}

div.div-total{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    border-top: #710707 3px solid;
    margin-top: 10px;
    padding-top: 10px;
    span{
        background: none;
    }
}

.contact-text {
    padding-top: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: #000000;
    a{
        color: #000000;
    }
    h4 {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        padding-bottom: 50px;
    }
    p {
        font-size: 22px;
        padding-bottom: 25px;
        display: flex;
        align-items: flex-end;
    }
}



.footer{
    margin: 0 auto;
    width: 1440px;
    height: 392px;
    nav{
        margin-left: 145px;
        margin-right: 397px;
        ul {
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 150px;
            grid-row-gap: 25px;
        }
    }
}

:any-link{
    &:hover{
        color: #9D8665;
        cursor: pointer;
        transition: ease-out 0.3s;
    }
}

.footer-nav{
    li{
        a{
            
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 2px;
            color: #FFFFFF;
            box-shadow: 0px 4px 4px 0px #00000040;

        }
    }
}

.footer-up{
    padding-top: 75px;
    display: flex;
    height: 265px;
}

ul.social-network{
    width: 340px;
    display: flex;
    column-gap: 25px;
    padding-top: 87px;
    li{
        padding: 12px;
        border: 1px solid #666666;
        border-radius: 50px;
    }
}

li.social-icon:hover {
    border: 1px solid #9D8665;
}

.footer-underline{
    position: absolute;
    width: 100%;
    left: 0px;
    border-top: #666666 3px solid;
}

.footer-down {
    a{
        display: flex;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 2px;
        color: #FFFFFF;
    }
    padding-top: 50px;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    :nth-child(2) {
        margin: 0 auto;
    }
}