@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  height: 9334px;
  max-width: 1920px;
  margin: 0 auto;
}

button:hover {
  background-color: #CAAA7D;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

header {
  width: 1440px;
  height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 49px;
  height: 26px;
  margin-right: 25px;
}

.logo:hover, .logo-text:hover {
  color: #CAAA7D;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.logo-text {
  width: 125px;
  height: 31px;
  left: 74px;
  top: 2px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

nav.navigation > ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 55px;
          column-gap: 55px;
  justify-content: space-between;
  align-items: center;
  max-width: 775px;
}

nav.navigation > ul > li > a {
  Font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  height: 100%;
  letter-spacing: 2px;
  color: #FFFFFF;
}

h1 {
  margin: 0;
}

.title {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  color: #FFFFFF;
}

div.welcome {
  position: relative;
  width: 1440px;
  height: 810px;
  background: url(../assets/img/welcome.jpg) no-repeat;
  background-position: top  right;
  margin: 0 auto;
}

div.welcome div {
  padding-top: 150px;
  width: 598px;
  height: 388px;
}

div.welcome div p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 75px;
}

div.welcome div button {
  width: 360px;
  height: 75px;
  background: #710707;
  border-radius: 10px;
  border-color: #710707;
}

.welcome-slider {
  position: absolute;
  right: 0;
  bottom: 0;
}

.welcome-url {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
}

section.virtual-tour-section {
  background-color: white;
  height: 1266px;
}

div.virtual-tour-div {
  width: 1440px;
  height: 1116px;
  margin: 0 auto;
}

div.virtual-tour-div h2 {
  color: #9D8665;
  padding-top: 75px;
  margin-bottom: 25px;
  margin-top: 0;
}

.virtual-cunt {
  padding-top: 75px;
  border-top: #710707 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 75px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

div.virtual-tour-img {
  height: 100%;
}

div.virtual-tour-img:hover p.virtual-text {
  width: 100%;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

div.virtual-tour-img img {
  top: 0px;
}

div.virtual-tour-img h3 {
  padding-top: 25px;
  margin: 0;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

div.virtual-tour-img p.virtual-text {
  width: 300px;
  padding-top: 10px;
  border-top: #710707 3px solid;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.virtual-tour-img p.google-text {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}

.explore {
  max-height: 865px;
}

.explore-cunt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  padding-top: 75px;
  padding-bottom: 75px;
}

div.explore-text {
  max-width: 660px;
  height: 715px;
}

div.explore-text span {
  color: #CAAA7D;
}

div.explore-text h2 {
  padding-bottom: 25px;
  margin-bottom: 75px;
  border-bottom: #710707 3px solid;
}

div.explore-text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
  padding-bottom: 25px;
}

div.explore-img {
  max-width: 720px;
}

.video-section {
  height: 1396px;
  background-color: white;
}

.video-container {
  margin: 0 auto;
  width: 1440px;
  height: 1246px;
}

.video-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
  padding-top: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-text h2 {
  color: #9D8665;
}

.video-player {
  height: 735px;
  margin-bottom: 40px;
}

.video-player div.video-input {
  width: 1440px;
  height: 85px;
  background-color: black;
}

.video-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.progress {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(40%, #710707), color-stop(40%, #C4C4C4), to(#C4C4C4));
  background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  height: 8px;
  width: 929px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.volume {
  width: 155px;
}

.video-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  height: 650px;
  background-image: url(../assets/video/poster0.jpg);
  background-size: cover;
}

img.video-play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.video-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 254px;
}

.video-gallery video {
  width: 452px;
}

.video-slider {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  position: relative;
  height: 2200px;
}

.picture-container {
  margin: 0 auto;
  height: 2200px;
  max-width: 1440px;
  overflow-y: hidden;
}

.picture-container h2 {
  padding-top: 75px;
}

.picture-inner-container img:first-child, .picture-inner-container img:nth-child(11) {
  margin-top: 50px;
}

div.picture-container::after {
  margin: 0 auto;
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  height: 360px;
  width: 1440px;
}

.picture-inner-container {
  position: relative;
  max-width: 100%;
  max-height: 2960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  -webkit-columns: 3;
          columns: 3;
  -webkit-column-gap: 36px;
          column-gap: 36px;
  padding-top: 75px;
}

.picture-inner-container img {
  width: 456px;
}

.parallax {
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contacts-section {
  background-color: white;
  height: 966px;
}

div.contacts-cunt {
  width: 1440px;
  height: 813px;
  margin: 0 auto;
  padding-top: 75px;
}

div.contacts-cunt h2 {
  margin-bottom: 25px;
  color: #9D8665;
}

div.contacts-info {
  border-top: #710707 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 695px;
}

div.contacts-info img {
  width: 960px;
  height: 620px;
  margin-top: auto;
  margin-left: auto;
}

.ticket-section {
  height: 893px;
  background-color: white;
}

.ticket-cunt {
  width: 1440px;
  margin: 0 auto;
}

.ticket-cunt h2 {
  color: #9D8665;
  padding-top: 75px;
  padding-bottom: 25px;
  border-bottom: #710707 3px solid;
}

.ticket-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.ticket-info img {
  margin-right: 60px;
}

.tikcet-bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.type-ticket {
  margin-right: 215px;
}

.type-ticket p.tikcet-bold {
  padding-bottom: 50px;
}

.type-ticket ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
}

.type-ticket ul li input {
  margin-right: 23px;
  cursor: pointer;
}

.amount {
  width: 175px;
  height: 341px;
  text-align: end;
}

.amount p {
  margin-bottom: 25px;
}

.buy-button {
  width: 175px;
  height: 50px;
  margin-top: 52px;
  color: white;
  background-color: black;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
}

.amount-button p {
  margin-top: 10px;
  margin-left: 25px;
  text-align: left;
  margin-bottom: 15px;
}

.amount-button div {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 14px;
  border: 3px solid #000000;
  width: 150px;
  height: 50px;
  text-align: center;
}

.amount-button div input {
  position: absolute;
  left: 69px;
  top: 53px;
  all: unset;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.amount-button div button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  width: 19px;
  height: 38px;
  text-align: center;
}

.total {
  margin-top: 50px;
  margin-bottom: 8px;
}

.contact-text {
  padding-top: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  color: #000000;
}

.contact-text a {
  color: #000000;
}

.contact-text h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  padding-bottom: 50px;
}

.contact-text p {
  font-size: 22px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer {
  margin: 0 auto;
  width: 1440px;
  height: 392px;
}

.footer nav {
  margin-left: 145px;
  margin-right: 397px;
}

.footer nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 150px;
  grid-row-gap: 25px;
}

:-webkit-any-link:hover {
  color: #9D8665;
  cursor: pointer;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

:-moz-any-link:hover {
  color: #9D8665;
  cursor: pointer;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

:any-link:hover {
  color: #9D8665;
  cursor: pointer;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.footer-nav li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.footer-up {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 265px;
}

ul.social-network {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  padding-top: 87px;
}

ul.social-network li {
  padding: 12px;
  border: 1px solid #666666;
  border-radius: 50px;
}

li.social-icon:hover {
  border: 1px solid #9D8665;
}

.footer-underline {
  position: absolute;
  width: 100%;
  left: 0px;
  border-top: #666666 3px solid;
}

.footer-down {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.footer-down a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.footer-down :nth-child(2) {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */
